.messages_container {
    position: relative;
    width: 100%;
  }
  .messages_user {
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid var(--primary-color);
  }
  .no_conv {
    font-size: 20px;
    color: var(--heading-color);
    text-align: center;
  }