.chat {
  position: relative;
  height:60%;
  width: 100%;
}
.chat-user {
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid var(--primary-color);
}
.chat .no-conv {
  font-size: 20px;
  color: var(--highlight-color);
  text-align: center;
}