.create-form {
    max-width: 600px;
}

.taskList-title{
  font-size: 1em;
  color: var(--heading-color);
  margin: 15px;
}
  
.task-list{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  text-align: center;
}

.task-list .column1{
  background-color: #ED9FE3;
}

.task-list .column2{
  background-color: #F5F17A;
}

.task-list .column3{
  background-color:  #67DF47;
}

.task-list .column-text{
  font-size: 1em;
  color: var(--heading-color);
  font-weight: bold;
  margin: 10px;
}
  .task-detail {
    background-color: #fff;
    padding: 30px;
    border-radius: 4px;
  }
  .task-detail .due-date {
    margin: 10px 0;
    font-size: 0.9em;
    color: var(--title-color);
  }
  .task-detail .description {
    margin: 30px 0;
    color: var(--text-color);
    line-height: 1.8em;
    font-size: 0.9em;
  }
  .task-detail h4 {
    color: var(--text-color);
    font-size: 0.9em;
  }
  .task-detail .assigned-users {
    display: flex;
    margin-top: 20px;
  }
  .task-detail .assigned-users .thumbnail {
    margin-right: 10px;
  }
  .task-detail + .btn {
    margin-top: 20px;
  }
    /* task comments */
    .task-comments label {
      margin-bottom: 0px;
    }
    .task-comments textarea {
      min-height: 40px;
      font-size: 1.5em;
    }
    
    /* comment list */
    .task-comments h4 {
      color: var(--heading-color);
    }
    .task-comments li {
      padding: 16px;
      border-radius: 4px;
      border: 1px solid #f2f2f2;
      margin-top: 20px;
      box-shadow: 3px 3px 5px rgba(0,0,0,0.05);
      background: #fff;
    }
    .comment-author {
      display: flex;
      align-items: center;
      color: var(--title-color);
    }
    .comment-author .thumbnail {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
    .comment-date {
      color: var(--text-color);
      font-size: 0.9em;
      margin: 4px 0 10px;
    }
    .comment-content {
      color: var(--text-color);
      font-size: 0.9em;
    }