.create-form {
    max-width: 600px;
}

.taskList-title{
  font-size: 1em;
  color: var(--heading-color);
  margin: 15px;
}
  
.task-list{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  text-align: center;
}

.task-list .column1{
  background-color: var(--highlight-color);
}

.task-list .column2{
  background-color: yellow;
}

.task-list .column3{
  background-color: lime;
}

.task-list .column-text{
  font-size: 1em;
  color: var(--heading-color);
  font-weight: bold;
  margin: 10px;
}
  .task-detail {
    background-color: #fff;
    padding: 30px;
    border-radius: 4px;
  }
  .task-detail .due-date {
    margin: 10px 0;
    font-size: 0.9em;
    color: var(--title-color);
  }
  .task-detail .description {
    margin: 30px 0;
    color: var(--text-color);
    line-height: 1.8em;
    font-size: 0.9em;
  }
  .task-detail h4 {
    color: var(--text-color);
    font-size: 0.9em;
  }
  .task-detail .assigned-users {
    display: flex;
    margin-top: 20px;
  }
  .task-detail .assigned-users .thumbnail {
    margin-right: 10px;
  }
  .task-detail + .btn {
    margin-top: 20px;
  }